#app{
  text-align: center;
}

.wrapper{
  display: block;
  position: relative;
  width: 80%;
  margin: 20px auto;
}

.table{
  padding-top: 50px !important;
  border-radius: 5px !important; 
}

.table th{
  background: #007bff !important;
  color: #fff !important;
}

td img{
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border-radius: 50%;
}

td{
  vertical-align: middle;
}

.table td{
  line-height: 9 !important;
}

#filterForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#filterForm input{
  width: 33%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#filterForm input:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.button{
  width: 33%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  transition: ease-in 500ms;
}

.button:hover{
  background-color: #fff;
  color: #007bff;
  border: 1px solid#007bff;
}

@media screen and (max-width: 500px){
  #filterForm input, .button{
    width: 50%;
  }
}